head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Day7: Template Engines
  link(rel='stylesheet' href='https://codepen.io/RenegadeGandhi/pen/KKdrZRe.css' type='text/css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap' rel='stylesheet')
nav.navbar
  .main-nav
    a(href='#') B.P
    a(href='#to-summary') SUMMARY
    a.push(href='#to-art') ART
.top-image
  img(src='https://i.ibb.co/qsnBqwb/855117-min.jpg' alt='someone i admire')
#to-summary.about
  h2 BLACK PANTHER
  p.p1
    | Black Panther is a 2018 American superhero film based on the Marvel Comics character of the same name. Produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures, it is the 18th film in the Marvel Cinematic Universe (MCU). The film was directed by Ryan Coogler, who co-wrote the screenplay with Joe Robert Cole, and it stars Chadwick Boseman as T'Challa / Black Panther alongside Michael B. Jordan, Lupita Nyong'o, Danai Gurira, Martin Freeman, Daniel Kaluuya, Letitia Wright, Winston Duke, Angela Bassett, Forest Whitaker, and Andy Serkis.
  p.p2
    | Thousands of years ago, five African tribes war over a meteorite containing the metal vibranium. One warrior ingests a "heart-shaped herb" affected by the metal and gains superhuman abilities, becoming the first "Black Panther". He unites all but the Jabari Tribe to form the nation of Wakanda. Over centuries, the Wakandans use the vibranium to develop advanced technology and isolate themselves from the world by posing as a Third World country. In 1992, Wakanda's King T'Chaka visits his brother N'Jobu, who is working undercover in Oakland, California. T'Chaka accuses N'Jobu of assisting black-market arms dealer Ulysses Klaue with stealing vibranium from Wakanda. N'Jobu's partner reveals he is Zuri, another undercover Wakandan, and confirms T'Chaka's suspicions.
  p.p3
    | Coogler was confirmed as director in January 2016, and said that the film was his "most personal movie to date" in part because he grew up reading comics, adding, "I feel really fortunate to be able to work on something I'm this passionate about again." After being "wooed" by Feige for months, Coogler agreed to direct the film if he could bring collaborators from his previous films to differentiate the film from other MCU films that are often "shot, composed, and edited by the same in-house people". This included Fruitvale Station (2013) cinematographer Rachel Morrison, as well as production designer Hannah Beachler and composer Ludwig Göransson, who both worked with Coogler on Fruitvale Station and Creed. Coogler felt Black Panther would be unique while still fitting within the MCU's overall narrative.
  p.p4
    | Black Panther was edited by Michael Shawver and Debbie Berman, with Shawver spending time on set during filming as well as at an editing suite near the Atlanta production base. Berman joined the film after an initial director's cut had been produced, two weeks after she completed work on Marvel's Spider-Man: Homecoming (2017), because Coogler likes to have both a male and female editing his films. She believed that she was chosen by Marvel because she is South African, and had been expressing interest in Black Panther throughout the editing process for Homecoming after first seeing the character in Civil War. Shawver said that a lot of their time editing was spent discussing how their work was affecting the audience.
  p.p5
    | Black Panther grossed $700.1 million in the United States and Canada, and $646.9 million in other territories, for a worldwide total of $1.347 billion. It became the highest-grossing solo superhero film, the third-highest-grossing film of the MCU and superhero film overall, the ninth-highest-grossing film of all time, and the highest-grossing film by a black director. It is the fifth MCU film and 33rd overall to surpass $1 billion, and the second-highest-grossing film of 2018. Deadline Hollywood estimated the net profit of the film to be $476.8 million, accounting for production budgets, P&A, talent participations and other costs, with box office grosses and ancillary revenues from home media, placing it second on their list of 2018's "Most Valuable Blockbusters".
  p.credit Credits to wikipedia.com
#to-art.art-gallery
  h2 GALLERY
  .art-gallery-wrapper
    img(src='https://i.ibb.co/pWRzVCG/902378-min.jpg')
    img(src='https://i.ibb.co/GvbdFcZ/888336-min.jpg')
    img(src='https://i.ibb.co/sCVThSY/888342-min.jpg')
    img(src='https://i.ibb.co/WKLFGJg/926668-min.jpg')
footer
  p Made with love by RenegadeGandhi!